*{
    margin: 0;
    padding:0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #39297b;
    color: white;
}
h1{
    text-align: center;
    margin: 100px auto 50px;
}
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: #434989;
    display: flex;
    border-radius: 8px;
    align-items:center ;
    border-radius: 8px;
}
form input{
    height: 60px;
    width: 80%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 30px;
    background: transparent;
    color: white;
}
form button{
    height: 100%;
    width: 20%;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #ff3929;
    color: white;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
}

#show-more{
    display: none;
    margin: 40px auto;
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: #ff2929c9;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}

#search-result{
    width: 95%;
    margin: 50px auto 20px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 20px;
}
#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}